<link rel="stylesheet" href="/style.css">

<!DOCTYPE html>
<html lang="pl"> 

<head>
    <!--- Basic Page Needs  -->
    <meta charset="utf-8">
    <title>Bajerancka</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/NMBlwrE.png">

</head>

<body>
    <!-- prealoader area start -->
    <!-- prealoader area end -->
    <!-- Crumbs area start -->
    <div class="crumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                    <div class="crumbs-header">
                        <h2 class="cd-headline letters rotate-3">
                            <span class="cd-words-wrapper">
                                <b>Witaj na stronie bajeranckiej pizzerii!</b>
                            </span>
                        </h2>
                        <p>Zapraszamy do składania zamowien online lub telefonicznie</p>
                        <div class="btn-area">
                            <a href="#">[Zobacz Memy]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Crumbs area end -->
    <!-- counter-box area start -->
    <div class="counter-box">
        <div class="container">
            <div class="row">
                <div class="counter-box-container">
                    <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                        <div class="counter-item">
                            <b class="counter-up"><%= data2 %></b>
                            <span>Pracowników w naszej ekipie</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                        <div class="counter-item">
                            <b class="counter-up"><%= data %></b>
                            <span>Dań w bazie</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                        <div class="counter-item">
                            <b class="counter-up"><%= data3 %></b>
                            <span>Zamówień złożonych na stronie</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- counter-box area end -->
    <!-- demo area start -->
    <div class="demo-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/index.html" target="_blank"><img src="http://tuttisanti.pl/media/cache/sylius_shop_product_original/74/a9/d021b6d67ca75a2d65f144e4dee7.jpeg" alt="demo image"></a>
                            <a href="zeedapp/index.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2><%= pizza1 %></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/index2.html" target="_blank"><img src="http://tuttisanti.pl/media/cache/sylius_shop_product_original/7e/0e/aa0442d109c0057455291a4f4547.jpeg" alt="demo image"></a>
                            <a href="zeedapp/index2.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2><%= pizza2 %></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/index3.html" target="_blank"><img src="http://tuttisanti.pl/media/cache/sylius_shop_product_original/18/7a/de20586c55e4010e9d029a0cd17f.jpeg" alt="demo image"></a>
                            <a href="zeedapp/index3.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2><%= pizza3 %></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/index4.html" target="_blank"><img src="http://tuttisanti.pl/media/cache/sylius_shop_product_original/4e/f2/f058a55c14c675891ed8d04097cd.jpeg" alt="demo image"></a>
                            <a href="zeedapp/index4.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2><%= pizza4 %></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/index6.html" target="_blank"><img src="http://tuttisanti.pl/media/cache/sylius_shop_product_original/c1/ec/d1f6c720217ca06726518d2ef767.jpeg" alt="demo image"></a>
                            <a href="zeedapp/index6.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2><%= pizza5 %></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/blog-with-sidebar.html" target="_blank"><img src="http://tuttisanti.pl/media/cache/sylius_shop_product_original/7e/39/54cbafbd5e8d8cab1979ede1af0f.jpeg" alt="demo image"></a>
                            <a href="zeedapp/blog-with-sidebar.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2><%= pizza6 %></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/blog-left-sidebar.html" target="_blank"><img src="http://tuttisanti.pl/media/cache/sylius_shop_product_original/d5/c6/4ff29979f28e76ce0732c16f19a6.jpeg" alt="demo image"></a>
                            <a href="zeedapp/blog-left-sidebar.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2><%= pizza7 %></h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/blog-details.html" target="_blank"><img src="http://tuttisanti.pl/media/cache/sylius_shop_product_original/59/0b/cc12262a071231cd0c3a472753c6.jpeg" alt="demo image"></a>
                            <a href="zeedapp/blog-details.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2><%= pizza8 %></h2>
                        </div>
                    </div>
                </div>
				<div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/blog-left-sidebar.html" target="_blank"><img src="http://tuttisanti.pl/media/cache/sylius_shop_product_original/0c/18/1332750cb265c4c63ef23ec3951b.jpeg" alt="demo image"></a>
                            <a href="zeedapp/blog-left-sidebar.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2><%= pizza9 %></h2>
                        </div>
                    </div>
                </div>
				<div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/blog-left-sidebar.html" target="_blank"><img src="http://tuttisanti.pl/media/cache/sylius_shop_product_original/bf/56/87a84818f05958580f2083b300bb.jpeg" alt="demo image"></a>
                            <a href="zeedapp/blog-left-sidebar.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2><%= pizza10 %></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- demo area end -->

    <!-- footer area start -->
    <footer>
        <div class="footer-area">
            <div class="container">
                <div class="footer-content text-center">
                    <h2>Zamów już teraz!</h2>
                    <div class="btn-area">
                        <a href="#">Składam zamówienie</a>
                    </div>
                    <p class="copy-right"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <!-- Scripts -->
    <!-- <script src="js/jquery-3.2.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/animatedheadline.js"></script>
    <script src="js/counterup.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/theme.js"></script> -->
</body>

</html>